#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

table.reading-plan-list tr td {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.progress-checkbox {
  display: block;
}

.link-button {
  display: inline-block;
  margin: 1em;
  padding: 1em;
  background-color: #050;
  color: white;
  border-radius: 1em;
}

table.reading-plan-list {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

table.reading-plan-list thead th {
  position: sticky;
  top: 0; /* Don't forget this, required for the stickiness */
  background-color: #242424;
  backdrop-filter: brightness(1);
  z-index: 1;
  padding: 1em;
}

table.reading-plan-list tbody tr:nth-child(odd) {
  backdrop-filter: brightness(0.5);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.next-up {
  padding: 2em;
  border: 2px solid black;
  border-radius: 2em;
  backdrop-filter: brightness(0.5);
  width: fit-content;
}

.next-up, .next-up table {
  margin-left: auto;
  margin-right: auto;
}